<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container-fluid" style="padding-top: 100px">
    <div class="row col-md-12">

            <p class="text-muted">
                1. Lower case filter:</p>

            <p class="text-info">First Name : {{dat.firstName | lowercase}}</p>
            <hr />

            <p class="text-muted">
                2. Upper case filter</p>
            <p class="text-info">First Name : {{dat.firstName | uppercase }}</p>

            <hr />
            <p class="text-muted">
                3. Date filter: (mm)</p>
            <p class="text-info">Start Month : {{dat.dob | date:'dd-MM-yyyy'}}
            </p>
        <hr />
    </div>
</div>
</body>
</html>