<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body >
<div class="container-fluid" style="padding-top: 50px">
        <h2 > Latest Movies</h2>
<div ng-repeat="x in latests" class="panel card ">
    <a ui-sref="detail({id : x.id})">
        <div class="image" ng-if = "x.poster_path == null">
            <img style="height: 278px" align="left" ng-src='./public/images/noposter.png'>
        </div>
        <div class="image" ng-if = "x.poster_path != null">
            <img align="left" ng-src={{'https://image.tmdb.org/t/p/w185_and_h278_bestv2'+x.poster_path}}>
        </div>    <div class="mbody">
    <b><i>{{x.title}}</i></b>
    <p>{{x.overview| limitTo : 100}}{{x.overview.length > 50 ? '...' : ''}}</p>
        <p><b>Release Date</b>{{x.release_date}}</p>
    <span class="label label-primary">Rating :</span>&nbsp;<span class="label label-success">{{x.vote_average}}</span><br> <br>
    <a ng-href="https://www.youtube.com/results?search_query={{ x.title }}" target="_blank" class="btn btn-default btn-xs btn-info">Watch Trailers!</a>
        </div>
    </a>
</div>
</div>
</body>
</html>