<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="header">
    <div class="container-fluid single-detail">
        <div class="image" ng-if = "details.poster_path == null">
            <img style="height: 450px" align="left" ng-src='./public/images/noposter.png'>
        </div>
        <div class="image" ng-if = "details.poster_path != null">
            <img align="left" ng-src={{'https://image.tmdb.org/t/p/w300_and_h450_bestv2'+details.poster_path}}>
        </div>
            <h2>{{details.title}} ({{details.release_date | date:'yyyy'}})</h2>
        <h4><b>Overview</b></h4>
        <p>{{details.overview}}</p>
            <p>{{details.release_date}}</p>
            <p>{{details.popularity}}</p>
            <p>{{details.vote_count}}</p>
            <p>{{details.id}}</p>
            <span class="label label-primary">Rating :</span>&nbsp;<span class="label label-success">{{details.vote_average}}</span><br> <br>
            <a ng-href="https://www.youtube.com/results?search_query={{ details.title }}" target="_blank" class="btn btn-default btn-xs btn-info">Watch Trailers!</a>
    </div>
    <div ng-if ="cast.cast.length == 0">
        <h2 style="padding-left: 30px;color: #ffffff">Cast not available</h2>
    </div>
<div ng-if ="cast.cast.length != 0">
    <section class="cast">
            <h3>Top Billed Cast</h3>
            <ol  class="people" >
                <li ng-repeat="x in cast.cast | limitTo : 6">
           <img class="img-circle" ng-src={{'https://image.tmdb.org/t/p/w132_and_h132_bestv2'+x.profile_path}}>
                    <p><b>{{x.name}}</b></p>
            <p>{{x.character}}</p>
                </li>
            </ol>
    </section>
</div>
</div>
</body>
</html>